.body-font {
    font-family: 'Open Sans', sans-serif !important;
}

.purple-back {
    background-color: #A89DBF;
}

.transparent-back {
    background: rgba(255, 255, 255, 0.3) !important;
}

.main-font {
    font-family: serif;
    font-weight: bolder;
    color:#5D4292;
}

.main-fontyellow {
    font-family: serif;
    font-weight: bold;
    color: #FFEA95;
}

.dark-purple {
    background-color:#5D4292 !important;
    color: white !important;
}

.bold {
    font-weight: 1000;
}

.font-login {
    font-family: 'OpenSans-ExtraBold', sans-serif !important;
}

.round {
    border-radius: 1em !important;
}

.photo-login {
    height: 3em;
    width: auto;
}

.btn-warning {
    background-color: #FFEA95 !important;
    border: none !important;
    
}

.w-45 {
    width: 45% !important;
    margin:auto;
  }
